

.info-link {
  text-decoration: none;
  display: inline-block;
  padding: 0.31rem 0.75rem;
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: 600;
  background-color: #3366FF;
  color: #fff;
  transition: background 0.3s ease;

  &:hover {
    background-color: #254EDB;
  }

}