$black-color: #030718;

.menu-top {
  position: sticky;
  top: 0;
  left: 0;
  height: 3.125rem;
  background-color: $black-color;
  color: #fff;
  // position: relative;

  .icon-menu {
    cursor: pointer;
    width: 3.125rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
    
    &:hover {
      background-color: #0B132B;
    }
  }
}